* {
  box-sizing: border-box;
}

.navbar {
  height: 70px;
  background-color: #c44536;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-right: 20px;
}

.nav-branding {
  font-size: 2rem;
  font-family: "Press Start 2P", Helvetica, sans-serif;
  text-decoration: none;
  margin-left: 20px;
  color: white;
  transition: 0.7s;
  text-decoration: none;
}

.nav-branding:hover {
  transform: scale(1.1);
  color: white;
}

.nav-branding:visited {
  color: white;
}

.nav-link {
  transition: 0.7s;
  font-family: "Press Start 2P", Helvetica, sans-serif;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  transform: scale(1.2);
  color: white;
}

.nav-link:visited {
  color: white;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 5px auto;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    z-index: 99;
    margin-right: 10px;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    z-index: 99;
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    z-index: 99;
  }
  .nav-menu {
    position: fixed;
    height: 100vh;
    left: -100%;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(30, 30, 30, 0.3);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 99;
    color: white;
  }
  .nav-item {
    margin: 40px 0;
    font-family: "kanit", Arial, Helvetica, sans-serif;
  }
  .nav-item-a {
    color: white;
  }
  .nav-menu.active {
    left: 0;
    padding: 0;
    margin: 0;
  }
}
.btn {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  margin-bottom: 10px;
  border-radius: 14px;
  background-color: #c44536;
  font-family: "kanit", Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 5 5px;
  color: rgb(255, 255, 255);
}
.btn:hover {
  transform: scale(1.2);
  transition: 0.3s;
  color: #ffffff;
}
.btn .container {
  margin-bottom: calc(200px + 2em);
}

.card-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-footer img {
  width: 8%;
  height: 8%;
}

.social-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #197278;
  position: fixed;
  bottom: 0;
  height: 6%;
  width: 100%;
}

.social-img {
  height: 37px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #e7dbd3;
}

.title {
  position: absolute;
  top: 15%;
  left: 10%;
  line-height: 1.3;
  font-family: "Press Start 2P", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 90px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -webkit-text-stroke: 1px rgb(53, 51, 51);
  margin: auto;
  text-transform: uppercase;
  background: linear-gradient(219deg, var(--color-1) 19%, transparent 19%, transparent 20%, var(--color-1) 20%, var(--color-1) 39%, transparent 39%, transparent 40%, var(--color-3) 40%, var(--color-3) 59%, transparent 59%, transparent 60%, var(--color-4) 60%, var(--color-4) 79%, transparent 79%, transparent 80%, var(--color-5) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

:root {
  --color-1: #1c72e2;
  --color-2:#d6584a;
  --color-3:#e95612;
  --color-4: #e0cd1c;
  --color-5:#1ab1d6;
}

.wrapper {
  background: #000;
  line-height: 1;
  min-height: 100%;
  display: grid;
  place-items: center;
  min-height: calc(100vh - 16px);
}

.img1 {
  position: absolute;
  right: 13%;
  top: 20%;
  width: 30vw;
  height: 50vh;
}

.contatti .container {
  margin-top: 80px;
}

.contatti {
  font-family: "Press Start 2P", Helvetica, sans-serif;
}

.contat {
  font-family: "Press Start 2P", Helvetica, sans-serif;
  text-align: center;
  margin-top: 20px;
}

header .container {
  padding-top: 15px;
}

.Profile {
  margin: auto;
  display: flex;
  position: absolute;
  max-width: 65%;
  top: 20%;
  left: 15%;
}
.Profile img {
  margin-top: 12px;
  height: 30vh;
  width: 30vw;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  -o-object-fit: cover;
     object-fit: cover;
}
.Profile h2 {
  padding-left: 30px;
  font-size: 30px;
  line-height: 1.3;
  font-family: "Press Start 2P", Helvetica, sans-serif;
  -webkit-text-stroke: 0.5px rgb(66, 64, 64);
  color: rgb(0, 0, 0);
}

@media (min-width: 490px) and (max-width: 1024px) {
  .img1 {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 60%;
    height: 40%;
  }
  .contatti .container {
    margin-top: 100px;
  }
  .title {
    position: absolute;
    top: 13%;
    left: 18%;
    font-size: 70px;
    line-height: 1.3;
    -webkit-text-stroke: 2px black;
  }
  .Profile {
    margin: auto;
    max-width: 95%;
    left: 5%;
  }
  .Profile h2 {
    font-size: 26px;
    line-height: 1.2;
  }
}
@media screen and (max-width: 480px) {
  .img1 {
    position: absolute;
    top: 400px;
    left: 40px;
    width: 300px;
    height: 300px;
    margin: auto;
  }
  .title {
    position: absolute;
    top: 130px;
    left: 13px;
    font-size: 45px;
    line-height: 1.3;
    font-weight: 700;
    -webkit-text-stroke: 2px black;
  }
  .contatti .container {
    margin-top: 20px;
  }
  .Profile {
    margin: auto;
    max-width: 95%;
    left: 2%;
  }
  .Profile h2 {
    font-size: 18px;
    line-height: 1.2;
    padding-left: 15px;
  }
}/*# sourceMappingURL=style.css.map */