* {
    box-sizing: border-box;
}

.navbar {
    height: 70px;
    background-color: #c44536;
    display: flex;
   
    justify-content: space-between;
    align-content: center;
   
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
    
   
}

.nav-branding {
    font-size: 2rem;
    font-family: "Press Start 2P", Helvetica, sans-serif;
    text-decoration: none;
    margin-left: 20px;
    color: white;
    transition: 0.7s;
    text-decoration: none;
 }
 .nav-branding:hover{
    transform: scale(1.1);
    color: white;
   
}

.nav-branding:visited{
    color: white;
}


.nav-link {
    transition: 0.7s ;
    font-family:   "Press Start 2P", Helvetica, sans-serif;
    color: white;
    text-decoration: none;
  
 }

 .nav-link:hover{
   transform: scale(1.2);
   color: white;

 }

 .nav-link:visited{
    color: white;
 }



.hamburger {
    display: none;
    cursor: pointer;
   
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media(max-width:768px){
    .hamburger{
        display: block;
        z-index: 99;
        margin-right: 10px;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
      z-index: 99;
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        z-index: 99;
      }

      .nav-menu{
        position: fixed;
        height: 100vh;
        left: -100%;
        top: 0px;
       display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(30,30, 30, 0.30);
        backdrop-filter: blur(8px);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 99;
        color: white;
      }

      .nav-item{
        margin: 40px 0;
        font-family:  "kanit", Arial, Helvetica, sans-serif;

        &-a {
            color: white;
        }
     

    }

    .nav-menu.active{
        left: 0;
        padding: 0;
        margin: 0;
    }
}
