.social-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #197278;
    position: fixed;
    bottom: 0;
    height: 6%;
    width: 100%;
}